body{
    margin-block-start: 0;
    background-color: rgb(7, 6, 24);
}

*{
    box-sizing: border-box;
}
#horizontal-menue{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(42, 38, 90);
}
#horizontal-menue li {
    float: left;
}

#horizontal-menue li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
#horizontal-menue li a:hover:not(.active){
    background-color: rgb(41, 26, 95);
}
.active{
    background-color: rgb(23, 14, 53);
}
input[type="text"]{
    background-color: #a2a3a7;
    border: none;
    font-size: 15px;
    text-transform: lowercase;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    right: 0;
    margin: 10px;
}
h1{
    color: white;
}
p{
    color: white;
}

.au{
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px 60px 5px;
    background: #3c5499;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
 .p-1{
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px 60px 5px;
    background: #3c5499;
    display: flex;
    justify-content: space-between;
    margin: 50px;
   
}
.p-2{
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px 60px 5px;
    background: #3c5499;
    display: flex;
    justify-content: space-between;
    margin: 50px;
   
}
.p-2{
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px 60px 5px;
    background: #3c5499;
    display: flex;
    justify-content: space-between;
    margin: 50px;
    
} 


