body{
    margin-block-start: 0;
    background-color: rgb(7, 6, 24);
}

*{
    box-sizing: border-box;
}
#horizontal-menue{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(42, 38, 90);
}
#horizontal-menue li {
    float: left;
}

#horizontal-menue li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
#horizontal-menue li a:hover:not(.active){
    background-color: rgb(41, 26, 95);
}
.active{
    background-color: rgb(23, 14, 53);
}
.section-3 {
   
    min-height: 820px;
    color: white;

}
#contact-form{
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
}
.form-rows{
    display: flex;
}
input[type="text"] , input[type="email"]{
    width: 46%;
    height: 55px;
}
input[type="text"] , input[type="email"] , textarea{
    font-family: sans-serif;
    color: white;
    background-color: #21143a;
    border: none;
    font-size: 18px;
    margin: 16px;
    border-radius: 5px;
    padding-left: 26px;
}
textarea{
    height: 200px;
    width: 100%;
    padding-top: 24px;
}
input[type="submit"]{
    background-color: #0e1f3f;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 60px;
}
.big-button{
    padding: 25px 85px;
}

.footer-links{
    max-width: 945px;
    margin-left: auto;
    margin-right: auto;
}
footer ul{
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
}
footer ul li{
    display: inline-block;
    padding: 10px 20px 10px 20px;

}
footer ul li a{
    text-decoration: none;
    color: white;
    font-size: 24px;
}