body{
    margin-block-start: 0;
    background-color: rgb(7, 6, 24);
}

*{
    box-sizing: border-box;
}
#horizontal-menue{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(42, 38, 90);
}
#horizontal-menue li {
    float: left;
}

#horizontal-menue li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
#horizontal-menue li a:hover:not(.active){
    background-color: rgb(41, 26, 95);
}
.active{
    background-color:  rgb(23, 14, 53);
}

h1{
    font-family: sans-serif;
}
.painting-1{
    margin: 10px;
    width: 830px;
    height: 550px;
    padding: 15px;
    border-radius: 10px ;
    border: 3px solid grey;
    position: relative;
    color: white;

}
.painting-1 h1{
    text-align: center;
}
.painting-1 p{
    text-align: center;
}
.painting-2{
    margin: 10px;
    width: 830px;
    height: 440px;
    padding: 15px;
    border-radius: 10px ;
    border: 3px solid grey;
    color: white;

}
.painting-2 h1{
    text-align: center;
}
.painting-2 p{
    text-align: center;
}
.paintings-3{
    margin: 10px;
    width: 830px;
    height: 450px;
    padding: 15px;
    border-radius: 10px ;
    border: 3px solid grey;
    color: white;

}
.paintings-3 h1{
    text-align: center;
}
.paintings-3 p{
    text-align: center;
}
.paintings-4{
    margin: 10px;
    width: 830px;
    height: 700px;
    padding: 15px;
    border-radius: 10px ;
    border: 3px solid grey;
    color: white;

}
.paintings-4 h1{
    text-align: center;
}
.paintings-4 p{
    text-align: center;
}
.paintings-5{
    margin: 10px;
    width: 830px;
    height: 550px;
    padding: 15px;
    border-radius: 10px ;
    border: 3px solid grey;
    color: white;

}
.paintings-5 h1{
    text-align: center;
}
.paintings-5 p{
    text-align: center;
}
.paintings-6{
    margin: 10px;
    width: 830px;
    height: 470px;
    padding: 15px;
    border-radius: 10px ;
    border: 3px solid grey;
    color: white;

}
.paintings-6 h1{
    text-align: center;
}
.paintings-6 p{
    text-align: center;
}
#op{
    transform: scale(1);
    transition: .3s ease-in-out;
}
#op:hover {
    transform: scale(1.1);
}


